.user-component__chat__time {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10px;
  font-size: 12px;
  min-width: 60px;
}

.not-read-notification {
  position: relative;
}

.not-read-notification .friends-nav__notification {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 15px;
  top: 10px;
  left: 40px;
  font-weight: 400;
}
