.friends-nav {
  border-top: 5px solid var(--yellow);
  background-color: var(--blue);
  padding: 20px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.friends-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
}

.friends-nav__link {
  position: relative;
}

.friends-nav__notification {
  display: flex;
  background-color: var(--yellow);
  color: var(--blue);
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: 20px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.friends-nav__btn:last-child .friends-nav__notification {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  top: -13px;
  left: 30px;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(45deg);
  }
  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.friends-nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.friends-nav__btn:nth-child(2) {
  animation-delay: 0.5s;
}

.friends-nav__btn:nth-child(3) {
  animation-delay: 1s;
}

.friends-nav__btn:last-child {
  animation-delay: 1.5s;
}

.screen-header {
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 25px;
}

.main-screen {
  z-index: 1;
  margin: 0px 25px;
  overflow-y: scroll;
  margin-top: 130px;
  padding-bottom: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.user-component {
  justify-content: space-between;
}

.user-component--last {
  border-bottom: var(--border-bottom);
}

.user-component__column {
  margin-bottom: 15px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:first-child {
  margin-top: 0px;
}

.user-component__profile__photo {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.photo--big {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.photo--small {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__profile__username {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0px;
}

.user-component--small .user-component__profile__username {
  font-size: 18px;
}

.user-component--small .user-component__profile__message {
  font-size: 14px;
}

.user-component__profile__message {
  color: var(--grey);
  font-size: 17px;
  min-width: 90%;
  word-break: keep-all;
}

.friends-list__channel {
  padding-top: 15px;
}

.friends-list__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-list__channel-header span {
  font-size: 15px;
}

.user-component__profile__username--not-bold {
  font-weight: 400;
}

.user-component__column--right {
  color: var(--grey);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
