.alt-header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  top: 30px;
  width: 100%;
  background-color: white;
}

.alt-header__column {
  display: flex;
  align-items: center;
}

.alt-header__column i:last-child {
  padding-left: 20px;
}

.alt-header__column h1 {
  font-size: 26px;
  font-weight: 500;
}

.settings-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(3, 143, 213, 0.1);
  padding: 20px 0px;
  font-size: 20px;
}

.settings-setting__column {
  display: flex;
  align-items: center;
}

.settings-setting i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  font-size: 24px;
}

.setting-last {
  border-bottom: none;
  padding-bottom: 30px;
}

.setting-first {
  border-top: 2px solid rgba(3, 143, 213, 0.5);
  padding-top: 30px;
}

.settings-setting__column:last-child {
  color: var(--grey);
}
